<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>7bits-frontend-2018</title>
     <link rel="stylesheet" href="../styles/style.css"> 

  </head>
  <body>
      <div class="bodystyle">
<img src = ../images/photo.png>
<div class="header"> About me </div>
<div class="text"> I'm John Watson Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
</body>
</html>