.header {
    background: RGB(249, 201, 16);
    color: black;
    display: inline-block;
    width: 732px;
    font-size: 20pt;
    text-indent: 35px;
    padding: 2px 0px 2px 0;  
}
img {
    float: left;
    margin: 0 50px 0 0;
}
.text {
    line-height: 1.5;  
    text-align: justify;
    margin: 40px 70px 0 0;
   
}
.bodystyle {
    margin: 44px 200px 0 78px; 
}
   
 
